@import '../parts/vars';

#docs-page{

	& section{

		padding-left: 300px;

		@media(max-width: 993px){
			padding-left: 0;
		}
	}

	& #docs-header{

		background: $text;
		color: $paper;

		& .container{

			& .col{

				display: flex;
				align-items: center;
			}

			& .logo{
				display: inline-block;
				width: 40px;
				height: 30px;
				margin-right: 10px;
				background-size: 80px auto;
				background-position: top center;
			}

			& h1{
				font-family: 'Manrope';
				font-size: 2rem;
				flex-grow: 1;
				font-weight: bold;
				display: inline-block;

				& a{
					color: $paper;

					@media(min-width: 993px){
						display: none;
					}
				}
			}

			& .search-field{

				@media(max-width: $medium){
					width: 100%;
					margin-bottom: 30px;
				}
				
				& .input-field{
					border-color: $paper;
					display: flex;
					align-items: baseline;
	
					&:before{
						content: '\F0349';
						opacity: .3;
						font-family: 'Material Design Icons';
					}
	
					& label{
						padding-left: 24px;
						transition: font-size .2s, top .2s, padding-left .2s;
					}
					
					& input{
						color: $paper;
	
						&:focus, &:not(:placeholder-shown){
	
							& ~ label{
								padding-left: 0;
							}
						}
					}
				}
			}

		}
	}

	& #docs-content{
		padding-top: 2vmax;
		padding-bottom: 2vmax;

		& .table-of-contents{
			position: -webkit-sticky;
			position: sticky;
			top: 80px;

			& a.active, & a:hover{
				border-color: $link-color;
			}
		}
	}
}

.sidenav-fixed{

	@media(min-width: 992px){
		margin-top: 56px;
		height: calc(100vh - 56px);
	}

	& a{

		width: calc(100% - 60px);

		&.here{
			background-color: $link-color;
			color: $paper;

			&:hover{
				background-color: darken($link-color, 10);
			}
		}

		& ~ ul{
			display: none;
		}
	}

	& .folder{

		display: flex;
		flex-wrap: wrap;
		
		& ul{
			width: 100%;
			border-left: 3px solid $link-color;
		}

		& .fold-trigger{
			width: 40px;
			flex-shrink: 0;
			padding: 0 10px;
			text-align: center;

			&:before{
				content: '▶';
				transition: transform .2s;
				display: inline-block;
			}

			&.open{

				&:before{
					transform: rotate(90deg);
				}
			}

			& + a{
				flex-grow: 1;
				width: calc(100% - 40px);
				padding-left: 6px;
			}
		}

		& ul{
			background: rgba($text, .05);
		}
	}

	& :not(.folder){

		& a{
			padding-left: 46px;
		}
	}

	&:not(.folder){

		& a{
			width: 100%;
			flex-grow: 1;
		}
	}
}

.docs-footer{

	padding-left: 300px;

	@media(max-width: 993px){
		padding-left: 0;
	}
}