@import '../parts/vars';

main{

	&#erent{

		& section{

			& .additional{

				display: inline-block;

				& a{

					padding: 0 10px;

					&:not(:last-of-type){
						border-right: 1px solid $text;
					}
				}
			}

			&#about{

				padding: 4vmax 0;

				& img{
					width: 100%;
				}

				& .readyscript-block{

					display: flex;
					align-items: center;
					margin: 2vmax 0;

					& .rs-left{
						width: 30%;
					}

					& .rs-right{
						width: 70%;
					}
				}
			}

			&#always-near{

				margin: 4vmax 0;
				padding: 2vmax 0;
				position: relative;

				&:before{
					content: '';
					display: block;
					width: 80%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					background: rgba($fogged, .3);
					height: calc(100% - 6vmax);
					
					@media(max-width: $large){
						width: 100%;
						height: 100%;
					}
				}

				& .always-near-text{
					display: flex;
					flex-direction: column;

					& .text-separator{
						height: 40px;
						flex-grow: 1;
					}
				}

			}

			&#plans{

				padding: 2vmax 0;
				overflow: hidden;

				& h2{
					text-transform: uppercase;
					background: #000;
					color: #fff;
					width: fit-content;
					padding: 0 20px;
					position: relative;

					&:before{
						content: '';
						display: block;
						position: absolute;
						background: #000;
						width: calc(100% + 2.8vw);
						height: 100%;
						top: 0;
						right: 0;
						z-index: -1;

						@media(max-width: $medium){
							display: none;
						}
					}
				}
				
				& .container{
					
					position: relative;

					&:before{
						content: '';
						display: block;
						position: absolute;
						width: calc(100% + 20vw);
						height: calc(100% - 2vmax);
						background: $fogged;
						z-index: -1;
						top: -2vmax;
						left: -2vmax;
					}

					& .tarif{
						padding: 2vmax;
						background: #fff;
						margin-bottom: 2vmax;

						& .bttn-outlined{
							margin: 0;
						}

						& .price-wrapper{

							display: flex;
							align-items: baseline;
							padding: 1rem 0;
							position: relative;


							&:before{
								content: '';
								display: block;
								width: 12px;
								height: 100%;
								position: absolute;
								left: -2vmax;
								top: 0;
								background: black;
							}

							& .prefix{
								font-size: calc(16px + 1.6vmax);
								font-weight: bold;
								line-height: 1em;
								transform: translateY(-1.6vmax);
							}

							& .price{
								font-size: calc(32px + 2vmax);
								line-height: 1em;
								font-weight: 800;
							}

							& .suffix{
								font-weight: 800;
								font-size: calc(24px + 1vmax);
								line-height: 1em;
								flex-grow: 1;
							}
						}

						& h3{
							margin: 0;
						}

						& .yes{

							&:before{
								content: '✔';
								color: $success;
							}
						}

						& ul{

							margin-bottom: 40px;

							& li{

								line-height: 2em;
								text-align: center;
								display: block;
								width: fit-content;
								margin: auto;
								padding: 0 20px;
								background: #000;
								color: $paper;

								&:before{
									margin-right: 20px;
									font-size: 24px;
								}
							}
						}

						& .no{
							&:before{
								content: '✖';
								color: $critical;
							}
						}
					}
				}

				& h2{
					margin: 0;
				}
			}

			&#faq{

				& .collapsible-header{
					font-weight: bold;
				}
			}
		}
	}
}