@import '../parts/vars';

body{

	& section{

		&.hero{

			& h1{
				white-space: nowrap;
			}
		}

		&#about{

			padding-top: 4vmax;
			background-image: url(../../img/orbits.svg);
			background-size: cover;
			background-position: left 40vmax center;
			background-repeat: no-repeat;
			transform: translateZ(0);

			& .about-text{
				margin-bottom: 2vmax;
			}

			@media(orientation: portrait){
				background-position: left -20vmin center;
			}

			& .stack{

				margin-top: 40vh;
				margin-bottom: 4vmax;

				& .proglang{

					display: inline-block;

					&:before{
						content: '•';
						padding: 0 15px;
					}

					&:last-of-type:after{
						@extend:before;
					}
				}
			}
		}

		&#areas{
			background-color: $fogged;
			background-repeat: no-repeat;
			background-size: 70vmax auto;
			background-position: bottom -7vmax left -22vmax;
			padding: 2vmax 0;

			& h2{
				color: $paper;
				text-transform: uppercase;
			}

			& .area{
				margin-bottom: 1vmax;
				padding: 8vh 0;
				background: $paper;
				border-radius: 12px;
				height: calc(100% - 1.5vmax);

				@media(max-width: $large){
					height: calc(100% - 3vmax);
					margin-bottom: 3vmax;
				}

				& h3{
					text-transform: uppercase;
					width: 80%;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 0px;
				}

				& p{
					display: block;
					width: 60%;
					margin: auto;
					min-width: 280px;
				}
			}
		}
	}
}